# OS & Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Environment / Secrets
.env
.env.local
*.env

# Submodules / Nested Repos
altinn-skjema-hacking/

# Dependencies & Build
node_modules/
dist/
dist-newstyle/
*.o
*.hi
*.dyn_o
*.dyn_hi
build/
__pycache__/
*.pyc
.venv/
env/
venv/
